.label{
    -fx-text-fill: black;
}
.button {
    -fx-background-image: url('../images/red-button.png');
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect:dropshadow(Gaussian, #797979,0,1, 2, 2);
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-image: url('../images/red-button-lighter.png');
}
.button:pressed{
    -fx-background-image: url('../images/red-button-darker.png');;
}